* {
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

nav {
  background-color: aquamarine;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  background-color: rgb(246, 226, 226);
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 4vmax 8vmax;
  box-sizing: border-box;
}

.container>h1 {
  text-align: center;
  margin: 30px;
  font-size: 2.5rem;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container form input,
textarea,
button {
  padding: 15px;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 5px;
  margin: 10px 0;
}

button {
  border: none;
  cursor: pointer;
  background-color: rgb(37, 35, 35);
  color: white;
}



.task {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
}

.task>div {
  width: 100%;
}

.task span{
  color: rgba(45, 43, 43, 0.733);
}
.task button {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task button:hover{
  background-color: darkgrey;
}